<!-- start custom footer snippets -->

<span><a title="Disclosure – yes, the boring page" href="/disclosure/">#include &lt;disclaimer.h&gt;</a></span>
<br>
<span><a href="https://app.netlify.com/sites/jaycuthrellcom/deploys"><img src="https://api.netlify.com/api/v1/badges/9429ed97-dcdd-4ad1-bc10-cd5d36cf367b/deploy-status"></a></span>

<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/jaycuthrell/15-minutes-with-jay-cuthrell?hide_event_type_details=1', text: 'Schedule time with me', color: '#069bf2', textColor: '#ffffff', branding: true });</script>
<!-- Calendly badge widget end -->

<!-- end custom footer snippets -->
