<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<meta property="og:image" content="https://jaycuthrell.com/images/jaycuthrell-embed.png">
<meta property="og:description" content="Learn more about Jay Cuthrell">
<meta property="og:title" content="Jay Cuthrell">

<!-- end custom head snippets -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BKHCR4W87G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BKHCR4W87G');
</script>
